!!!
%html
  %head
    %title Food Truck
    %meta{name: :viewport, content: "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.protected{lang: :en}
    %header
      = render '/shared/logo'
      %h1= current_user.name
      =image_tag(current_user.image, alt: current_user.name, class: :avatar)
      %a.button{href: signout_path, title: 'logout'}
        %i.icon-angle-left
        %label sign out
    %p
    - flash.each do |name, msg|
      %div(class=name)= msg

    = yield

    %footer